<app-header></app-header>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="row">
    <div class="col-md-6">
      <img src="../../assets/Sign In image.png"  width="" height="600"/>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <div class="row">
      <form>
        <label>Username</label>
        <input class="form-control" type="text" />
        <label>Password</label>
        <input class="form-control" type="password" />
      </form>
    </div>
    </div>
  </div>
</body>
</html>
