<div class="home">
  <p class="wel">Welcome</p>
  <img src="../../assets/photo.svg" alt="image" class="pic">
  <div class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut a
    liquip ex ea commodo consequat.
  </div>
  <button type="button" class="btn btn-primary" (click)="onclick()">SIGN IN</button>

         <p class="heading"> Our Features</p>
    <div class="F1">
        <img src="../../assets/Tools Agnostic.svg" alt="" class="fe-pic">
        <p class="fe-name">Tools Agnostic</p>
        <div class="fe-para">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut a
    liquip ex ea commodo consequat.
        </div>
    </div>
    <div class="F2-F3">
            <img src="../../assets/Reports_landing.svg" alt="" class="fe-pic">
            <p class="fe-name">Reports</p>
            <div class="fe-para">
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut a
                    liquip ex ea commodo consequat.
            </div>
        </div>
        <div class="F2-F3">
                <img src="../../assets/SSP.svg" alt="" class="fe-pic">
                <p class="fe-name">Self Service Portal</p>
                <div class="fe-para">
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut a
                        liquip ex ea commodo consequat.
                </div>
        </div>
    </div>
    
    <p class="heading2">Our Services</p>
    <div id="All-Service">
        <div class="service1-2-3-4">
                <img src="../../assets/Business Dev.svg" alt="Business" class="service-pic">
                <p class="Service-name">Business Development</p>
                <div class="service-para">
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

                </div>
        </div>
        <div class="service1-2-3-4">
                <img src="../../assets/DevOps Consulting.svg" alt="Dev cosult" class="service-pic">
                <p class="Service-name">DevOps Consulting</p>
                <div class="service-para">
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </div>
        </div>
        <div class="service1-2-3-4">
                <img src="../../assets/Training.svg" alt="Training" class="service-pic">
                <p class="Service-name">Training and Enablement</p>
                <div class="service-para">
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </div>
        </div>
        <div class="service1-2-3-4">
                <img src="../../assets/DevOps Lab.svg" alt="" class="service-pic">
                <p class="Service-name">DevOps Labs and Solutions</p>
                <div class="service-para">
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </div>
        </div>
    </div>

